<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      {% include "navbar.html" %}
      <h1>Services</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sed
        corrupti vel iure molestias non omnis eius, rem asperiores, fuga eos
        voluptatibus. Delectus voluptatum illo blanditiis nulla quae harum omnis
        ex fuga saepe porro, rem modi eveniet perferendis placeat earum ducimus
        temporibus assumenda tempore ipsum maxime? A, non commodi! Laborum?
      </p>

      <button>Contact Us</button>
    </div>
  </body>
</html>
